.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  input[type="radio"] {
    display: none;
  }

  input[type="input"] {
    margin-top: 2rem;
  }

  h2 {
    text-align: center;
  }
}
