.sidebarContainer {
  width: 26.5rem;
  height: 100vh;
  background: var(--gray-500);
  color: var(--white);
}

.sidebarHide {
  display: none;
}

.sidebarHeader {
  width: 100%;
  height: 5rem;
  padding: 0;

  strong {
    width: 100%;
    padding: 2rem;
    height: auto;

    font-size: 2rem;
    font-family: Lexend, sans-serif;

    display: grid;
    place-items: inherit;

    background-color: var(--gray-800);
    border: 1px solid var(--gray-800);
  }
}

.sidebarList {
  width: 100%;
  margin-top: 1.35rem;
  padding: 0;

  li {
    width: 100%;
    height: 6rem;
    list-style: none;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 1.25rem;

    #icon {
      flex: 30%;
      display: grid;
      place-items: center;
    }

    #title {
      flex: 70%;
    }

    &:hover {
      background-color: red;
      cursor: pointer;
    }
  }
}

.test {
  background: green;
}

.test1 {
  background: yellow;
}
