.card {
  background: #fff;
  border-radius: 5px;
}

.cardHeader {
  padding: 1rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;

  button {
    outline: none;
    color: #fff;
    background: #5850ec;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 3px;
    font-weight: 500;
  }
}

.cardBody {
  table {
    border-collapse: collapse;

    thead {
      tr {
        border-top: 1px solid #f0f0f0;
        border-bottom: 2px solid #f0f0f0;
      }
    }

    thead {
      td {
        font-weight: 700;
      }
    }

    td {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: #222;

      .status {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: green;
        margin-right: 1rem;
      }
    }

    tr td:last-child {
      display: flex;
      align-items: center;
    }
  }
}

.tableResponsive {
  width: 100%;
  overflow-x: auto;
}
