.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.container {
  position: fixed;
  margin: 5rem;
  padding: 0;
  width: 50vw;
  height: 50vh;
  background: #FFF;

}

@media screen and (max-width: 1000px) {
  .cards {
    margin-bottom: 2rem;
    width: 40%;
    height: 90vh;
  }
}

@media screen and (max-width: 1671px) {
  .cards {
    gap: 1rem;
  }
}
