.mainContent {
  margin-left: 280px;
  transition: all 800ms;
  header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    left: 280px;
    width: calc(100% - 280px);
    top: 0;
    z-index: 20;
    background: #ffffff;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    transition: left 300ms;
  }
}

.mainContentHide {
  margin-left: 0;
  transition: all 300ms;

  header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    background: #fff;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    transition: left 300ms;
  }
  
}

.menuToggle {
  label {
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }
}

.headerIcons {
  span {
    display: inline-block;
    margin-left: 0.7rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1124px) {
  .mainContent {
    margin-left: 0;

    header {
      left: 0;
      width: 100%;
    }
  }

  .mainContentHide {
    left: 0;
  }

}

