.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  input[type="radio"] {
    display: none;
  }

  input[type="input"] {
    margin-top: 2rem;

    height: 30%;
    width: 70%;
  }

  ::-webkit-input-placeholder {
    font-size: 1.3rem;
    text-align: left;
  }

  h2 {
    text-align: center;
  }
}

.buttonContainer {
  margin-top: 1.85rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .buttonSubmit {
      outline: none;
      color: #fff;
      background: #09c26f;
      
      border: none;
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      border-radius: 3px;
      font-weight: 500;

      &:hover {
        background: #038f50;
      }
  }

  .buttonSkip  {
    outline: none;
    color: #fff;
    background: #AFB2B1;
    
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 3px;
    font-weight: 500;

    &:hover {
      background: #808080;
      }
  }
}

.modalHide {
  display: none;
}




