.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 2rem;
}

.cardSingle {
  background: #fff;
  padding: 1rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.cardFlex {
  display: grid;
  grid-template-columns: 70% auto;
  align-items: center;
}

.cardHead {
  span {
    display: block;
    text-transform: uppercase;
    color: #555;
    font-size: 0.8rem;
  }

  small {
    font-weight: 600;
    color: #666;
  }
}

.cardInfo {
  h2 {
    font-size: 2.5rem;
    color: #333;
  }
}

.cardIcon {
  span {
    font-size: 5rem;
  }
}
